body {
  background: #0f1414;
  color: #fff;
  padding: 186px 0;
  font-family: "Open Sans", sans-serif;
}

h4 {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.5;
  margin: 0;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease all;
  margin-bottom: 0;
}

img {
  width: 100%;
  max-width: 384px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 830px) {
  .dualImage, .columnTwo {
    padding: 0 0 24px !important;
  }
}


/* AYBN */


.aYBN {
  padding-bottom: 225px;
}

.aYBNcolumn {
  max-height: 600px;
  max-width: 384px;
  width: 100%;
  padding-bottom: 24px;
}

.singleImage {
  /* padding-bottom: 24px; */
  display: flex;
  flex-direction: column;
}

.dualImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px 24px;
}

.columnTwo {
  padding: 0 24px;
}

.img {
  transition: 0.3s ease all;
}

.aYBN p {
  margin: 30px 0 35px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;
}

.aYBN h5 {
  color: #CF1430;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
}

.img:hover {
  cursor: pointer;
  opacity: 0.8;
}

#img02 {
  padding-bottom: 24px;
}

#whiteLine {
  display: block;
  padding-top: 15px;
  border-bottom: 1px solid #fff;
}

#note {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}


/* Modal */


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  align-items: center;
  overflow: scroll;
}

#modalContent {
  margin: auto;
  display: block;
}

#close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s ease all;
}

#close:hover {
  cursor: pointer;
  opacity: 0.8;
}


/* ATL */


.aTLcolumn {
    max-width: 384px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

.aTLHeading {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0.81px;
  line-height: 57px;
  margin: 0 0 60px 0;
  text-align: center;
}

.aTLcolumn img{
  border-bottom: 2px solid #d01430;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

.aTL p {
    font-weight: 300;
    color: #C2C2C2;
    font-size: 16px;
    line-height: 28px;
}

.aTL a {
  margin-top: 20px;
  text-decoration: none;
  color: #FFF;
}

.aTL a.articleLink {
  margin: 0;
}

.aTL p {
  margin-bottom: 30px;
}

.aTL span.redLine {
  border-bottom: 1px solid #d01430;
  padding-top: 10px;
  width: 92px;
  display: block;
}

.aTLcolumn a:hover span.redLine {
  width: 0px !important;
}

.aTL span.redLine2 {
  border-bottom: 1px solid #d01430;
  padding-top: 10px;
  width: 0px;
  display: block;
  transition: 0.3s ease all;
  position: relative;
  top: -11px;
}

.aTLcolumn a:hover span.redLine2 {
  width: 92px !important;
}


.aTLcolumn:hover {
  cursor: pointer;
}

.aTLcolumn:hover h5 {
  color: #d01430;
}

.aTLcolumn:hover img {
  border-bottom: 4px solid #d01430;
}
